<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.eynakgroup.diet"
    android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />
    <permission
        android:name="ir.eynakgroup.diet.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ir.eynakgroup.diet.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <permission
        android:name="ir.eynakgroup.karafs.account.AUTHENTICATION_PERMISSION"
        android:label="@string/action_authentication"
        android:logo="@drawable/ic_karafs"
        android:protectionLevel="normal" />

    <uses-permission android:name="ir.eynakgroup.karafs.account.AUTHENTICATION_PERMISSION" />

    <application
        android:name=".application.DietApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.IntroActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait">

        </activity>

        <service
            android:name=".services.AccountAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".services.AuthenticationService"
            android:exported="true"
            android:permission="ir.eynakgroup.karafs.account.AUTHENTICATION_PERMISSION">
            <intent-filter>
                <action android:name="@string/action_authentication" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activities.SettingActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activities.SetupDietActivity"
            android:screenOrientation="portrait">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="ir.eynakgroup.diet"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ir.eynakgroup.diet" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_858215241703" />
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="aHR0cDovLzQyZWY1YTlkY2UwODRhZjM4MTE5MDAyZTA4ZjBiOWFmOjQxY2E1NmQzMDkwZDRkMjk4ZmZlMWEyM2MwNjg4ZDRiQGNhLnB1c2hlLmlyLzcwODk=" />


    </application>

</manifest>